#game #play{display:none;position:relative;margin:10px auto;border-radius:20px;background-color: #FFF;}
#game #play #square_yellow {position:absolute;width:30%;height:30%;background:#dad05f;background: linear-gradient(315deg, #dad05f 0%, #e9dd7f 100%);left:0px;top:0px;border-bottom-right-radius:6px;}
#game #play #square_green  {position:absolute;width:30%;height:30%;background:#92c348;background: linear-gradient( 45deg, #92c348 0%, #a0cc6a 100%);right:0px;top:0px;border-bottom-left-radius:6px;}
#game #play #square_blue   {position:absolute;width:30%;height:30%;background:#69a5d2;background: linear-gradient(225deg, #69a5d2 0%, #7db2d4 100%);left:0px;bottom:0px;border-top-right-radius:6px;}
#game #play #square_red    {position:absolute;width:30%;height:30%;background:#e7413c;background: linear-gradient(135deg, #e7413c 0%, #e99c9b 100%);right:0px;bottom:0px;border-top-left-radius:6px;}

#game #play .user{display:none;position: absolute;background: #FFF;border: 2px #fff solid;border-radius: 3px;}
#game #play .user .profilepic{height: 60px;width: 60px;background-color: #CCC;background-image:url(/assets/common/images/user.png);background-size: cover;display: inline-block;vertical-align: middle;}
#game #play .user .username{display: inline-block;padding: 0px 0.5em;}

#game #play #square_yellow .user{top:0; left:0;}
#game #play #square_green  .user{top:0; right:0;}
#game #play #square_blue   .user{bottom:0; left:0;}
#game #play #square_red    .user{bottom:0; right:0;}

#game #play #area_top       {z-index:3;position:absolute;width:40%;height:34.28571429%;left:30%;top:0;}
#game #play #area_right     {z-index:3;position:absolute;width:40%;height:34.28571429%;left:100%;top:30%;transform-origin: top left;transform:rotate(90deg);}
#game #play #area_bottom    {z-index:3;position:absolute;width:40%;height:34.28571429%;left:70%;top:100%;transform-origin: top left;transform:rotate(180deg);}
#game #play #area_left      {z-index:3;position:absolute;width:40%;height:34.28571429%;left:0%;top:70%;transform-origin: top left;transform:rotate(-90deg);}

#game #play .box{float:left;height:12.5%;width:33.3333333%;display:block;background:#FFF;}
#game #play .box.bleft{text-align:right;}
#game #play .box.bcenter{text-align:center;}
#game #play .box.bright{text-align:left;}
#game #play .box span{vertical-align: middle;padding:0 5px;}
#game #play .yellow{background:#e8ca3f;}
#game #play .green{background:#69a63b;}
#game #play .blue{background:#4b96bf;}
#game #play .red{background:#e7413c;}
#game #play .yellow {background:#e8ca3f;background: linear-gradient(315deg, #e8ca3f 0%, #ece698 100%);}
#game #play .green  {background:#69a63b;background: linear-gradient(45deg,  #94c44c 0%, #a4d855 100%);}
#game #play .blue   {background:#4b96bf;background: linear-gradient(225deg, #4b96bf 0%, #7bb6e2 100%);}
#game #play .red    {background:#e7413c;background: linear-gradient(135deg, #e7413c 0%, #ff7672 100%);}
#game #play .secure.yellow {background:#e8ca3f;}
#game #play .secure.green  {background:#94c44c;}
#game #play .secure.blue   {background:#4b96bf;}
#game #play .secure.red    {background:#e7413c;}
#game #play .lyellow{background:#e9dd7f;}
#game #play .lgreen{background:#a0cc6a;}
#game #play .lblue{background:#7db2d4;}
#game #play .lred{background:#e99c9b;}
#game #play .box.secure{
    background-image: url(/assets/parchis/circle.svg);
    background-size: auto 80%;
    background-position: center center;
    background-repeat: no-repeat;
    color:#666 !important;
}
#game #play .box.active{cursor:pointer;animation: orangting 1s infinite;transform-origin: center;}

#game #play #area_center  {position:absolute;width:40.1%;height:40.1%;background:#fff;left:29.95%;top:29.95%;overflow:hidden;}
#game #play #area_center .center_center {position:absolute;width:100%;height:100%;transform:rotate(45deg);}
#game #play #area_center .center_center .yellow {position:absolute;width:100%;height:100%;left:-25%;top:-25%;}
#game #play #area_center .center_center .green  {position:absolute;width:100%;height:100%;left:50%;top:-50%;}
#game #play #area_center .center_center .blue   {position:absolute;width:100%;height:100%;left:-50%;top:50%;}
#game #play #area_center .center_center .red    {position:absolute;width:100%;height:100%;left:50%;top:50%;}
#game #play #area_center .center_center .dices  {position:absolute;width:50%;height:50%;left:25%;top:25%;background:#FFF;border-radius:100%;transform:rotate(-45deg);}
#game #play #area_center .center_center .dices div{position: absolute;width: 25%;height: 25%;top: 50%;transform: translate(-50%, -50%);background-size: 100% 100%;background-repeat: no-repeat;background-position: center center;}
#game #play #area_center .center_center .dices #dice1{left:  25%;transform: translate(-50%, -50%);}
#game #play #area_center .center_center .dices #dice2{right: 25%;transform: translate( 50%, -50%);}
#game #play #area_center .center_center .dices.active{cursor:pointer;animation: dicesbeating 1s infinite;transform-origin: center;}


#game #play .chip{position: absolute;display:none;z-index:10;top: 48.5%;left: 48.5%;height: 3%;width: 3%;border-radius: 100%;box-shadow: 0px 0px 2px 1px #000;}
#game #play .chip.active{cursor:pointer;animation: chipbeating 1s infinite;transform-origin: center;}
#game #play .chip.dragging{pointer-events: none;}

@keyframes dicesbeating {
    from { transform: rotate(-45deg); }
    50% { transform: rotate(-45deg) scale(1.1); }
    to { transform: rotate(-45deg); }
}
@keyframes chipbeating {
    from {}
    50% { transform: scale(1.2); }
    to {}
}
@keyframes orangting {
    from {}
    50% {background: orange;}
    to {}
}