
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */