
.icon-dice6:before { content: '\e800'; } /* '' */
.icon-dice1:before { content: '\e801'; } /* '' */
.icon-dice2:before { content: '\e802'; } /* '' */
.icon-dice3:before { content: '\e803'; } /* '' */
.icon-dice4:before { content: '\e804'; } /* '' */
.icon-dice5:before { content: '\e805'; } /* '' */